
<%- include('./partials/navbar.ejs') %>
<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1>Home Page</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ullam. Magnam, beatae quis placeat, dolorem eos modi vitae ullam voluptas ut, tenetur deserunt. Rem numquam corporis mollitia ut? Labore doloremque eius laboriosam sequi at laborum sunt eligendi animi cupiditate inventore reprehenderit ipsam, sed, corporis eveniet earum quia autem. Vero, ullam? Maxime quia facilis dolore dicta tenetur. At eos repellendus harum! Fugiat nisi totam at nam, deserunt maiores ex consequuntur cumque? Distinctio repellat placeat ipsam officia eos officiis. Quaerat ad unde ipsum quisquam quae atque culpa, numquam autem debitis veniam dolores deleniti et soluta accusantium similique temporibus aliquid aliquam quis porro officiis, labore reiciendis blanditiis fugit sit. Consequatur dolores delectus provident nam itaque, maiores ad eaque consectetur, sequi odit dolorem accusantium pariatur quo rem voluptatum nihil tenetur laborum blanditiis dicta consequuntur? Ut magnam pariatur, facilis architecto vitae ipsum quos, odio incidunt voluptatibus cupiditate earum saepe sint temporibus, quibusdam molestias? Possimus veniam asperiores vitae odit, molestias voluptatem ad quibusdam optio illum delectus doloremque nam neque incidunt. Natus blanditiis asperiores, consectetur unde accusantium aperiam odit culpa nostrum reiciendis, ipsam officia ipsum, corporis magnam tenetur maxime maiores numquam quos assumenda iure similique! Ullam illum dignissimos inventore voluptatibus! Porro nesciunt quod et culpa natus provident!</p>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>
