
<%- include('./partials/navbar.ejs') %>
<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1>Login Page</h1>
            <hr>
            <form class="w-50" method="post" action="/dashboard">
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" name="email">
                </div>
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" class="form-control"  name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br>

            <table class="table">
              <tr>
                <td><h5 id="name"></h5></td>
                <td><h5 id="email"></h5></td>
                <td><img src="" id="picture"></td>
              </tr>
            </table>


         <div id="buttonDiv"></div> 
            <script>
              function handleCredentialResponse(response) {
                $.ajax({
                  type: 'POST',
                  url: '/google/'+response.credential,
                  success: function(resp) {
                    console.log(resp.name)
                    console.log(resp.email)
                    console.log(resp.picture)
                  }
                });
                console.log("Encoded JWT ID token: " + response.credential);
              }

              window.onload = function () {
                google.accounts.id.initialize({
                  client_id: "766265565166-hlp6lnbithpd8g892cb6ngi3rkilvvgg.apps.googleusercontent.com",
                  callback: handleCredentialResponse
                });

                google.accounts.id.renderButton(
                  document.getElementById("buttonDiv"),
                  { theme: "outline", size: "large" }  // customization attributes
                );
                
                // google.accounts.id.prompt(); // also display the One Tap dialog
              }
          </script>
        
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>
