
<%- include('./partials/navbar.ejs') %>
<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1>Login Page</h1>
            <hr>
            <form class="w-50" method="post" action="/login">
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" name="email">
                </div>
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" class="form-control"  name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br>
            <div id="g_id_onload"
              data-client_id="766265565166-hlp6lnbithpd8g892cb6ngi3rkilvvgg.apps.googleusercontent.com"
              data-login_uri="http://localhost:5000"
              data-auto_prompt="false">
            </div>
            <div class="g_id_signin"
              data-type="standard"
              data-size="large"
              data-theme="outline"
              data-text="sign_in_with"
              data-shape="rectangular"
              data-logo_alignment="left">
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>
